<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Lokad.Stack" requirePermission="false"/>
	</configSections>
	<autofac>
		<modules>
			<module type="Lokad.Cloud.Core.StorageModule, Lokad.Cloud.Core">
				<properties>
					<property name="AccountName" value="lokad1" />
					<property name="AccountKey" value="xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"/>
					<property name="BlobEndpoint" value="http://blob.core.windows.net"/>
					<property name="QueueEndpoint" value="http://queue.core.windows.net"/>
				</properties>
			</module>
		</modules>
	</autofac>
</configuration>