<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Lokad.Stack" requirePermission="false"/>
	</configSections>
	<autofac>
		<modules>
			<module type="Lokad.Cloud.Core.StorageModule, Lokad.Cloud.Framework">
				<properties>
					<property name="AccountName" value="lokad1" />
					<!-- Encrypted key for LOKAD-OS\integration -->
					<property name="AccountKey" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwmvBNH0q2kyN581RvBYFnQAAAAACAAAAAAADZgAAqAAAABAAAADPs4GbrwvwFc2nkUnIOrJ9AAAAAASAAACgAAAAEAAAALK/i9WWuDnh/OvYlOVJMr5gAAAAoBKkDpf8te6S1jyPOkEn+Ui1AIMs7y0WKUmk6s25FB9pSFCG7mvlmxy4pXP9+bXSc6DBcxde9pZ1YkeS96IqosLD17kVBGOHgVUSjNQ8fvaNTqPIoAizERxrn6brIVHFFAAAAObfTN27L/cMCTvLE/luiUdqTBst"/>
					<property name="IsStorageKeyEncrypted" value="true" />
					<property name="BlobEndpoint" value="http://blob.core.windows.net"/>
					<property name="QueueEndpoint" value="http://queue.core.windows.net"/>
				</properties>
			</module>
		</modules>
	</autofac>
</configuration>