<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Download Lokad Cloud Framework for Azure</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="alternate" title="Lokad" href="http://www.lokad.com/RSS.aspx" type="application/rss+xml" />
	<link rel="alternate" type="application/rss+xml" title="Lokad Blog and News" href="http://blog.lokad.com/journal/rss.xml" />
	<meta name="description" content="Lokad Cloud framework is .NET execution framework for Windows Azure."/>
	
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</head>
<body style="font-family:Arial;">

<div><img src="http://build.lokad.com/lokad-ccf.jpg" /></div>
<h2>Download Version ${Version}</h2>
<ul>
<li><strong><a href="${Version}/${CloudPackage}">Download Cloud package</a> (ZIP with CSPKG for Windows Azure). </strong></li>
<li><a href="${Version}/${SourcePackage}">Download sources</a> (C#, VS2008 solution).</li>
</ul>

<h2>Links</h2>
<ul>
<li><a href="http://code.google.com/p/lokad-cloud/">Project page</a> on <em>Google Code</em></li>
<li><a href="http://www.lokad.com">Lokad.com</a></li>
</ul>
<p>&copy;2009 Lokad. All rights reserved</p>
</body>
</html>